<% include ./header.ejs %>

    <div class="w-full  ">
        <nav class="w-full  h-8 border p-1">
            <ol class="flex gap-2 text-2xl capitalize">
                <li class="class= p-2 font-bold  active:bg-black active:text-white  rounded-full"><a href="/profile">home</a></li>
                <li class=" class= p-2 font-bold  active:bg-black active:text-white  rounded-full"><a href="/feeds">Feeds</a></li>
                <li class="class= p-2 text-white font-bold absolute right-1 bg-red-700  active:bg-black  rounded-full "><a href="/logout">Sign out</a>
                </li>
                </o>
        </nav>