<% include ./partials/header.ejs %>
    <div class="container">
        <a href="/register">
            <span></span>
            <span></span>
            <span></span>
            <span></span> register
        </a>
        <a href="/login"><span></span>
    <span></span>
    <span></span>
    <span></span>
    login</a>
    </div>
    <% include ./partials/footer.ejs %>